In [78]:
import pyodbc
import pandas as pd
import warnings
ignore_warnings = True

In [79]:
server = 'DESKTOP-59E71Q2\\SQLEXPRESS'
database = 'AdventureWorks2022'
username = 'sa'
password = 'Amaan123'
 
# Connection string
connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

In [80]:
try:
    conn = pyodbc.connect(connection_string)
    print("Connected Successfully")
except Exception as e:
    print(f'Error: {e}')

Connected Successfully

In [81]:
#Top 5 from Department table
query = "SELECT * FROM [HumanResources].[Department]"
df = pd.read_sql(query,conn)
df.head(5)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\3678884049.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

   DepartmentID         Name                 GroupName ModifiedDate
0             1  Engineering  Research and Development   2008-04-30
1             2  Tool Design  Research and Development   2008-04-30
2             3        Sales       Sales and Marketing   2008-04-30
3             4    Marketing       Sales and Marketing   2008-04-30
4             5   Purchasing      Inventory Management   2008-04-30

In [82]:
#Count employees in the table
query = "SELECT * FROM [HumanResources].[Employee]"
df = pd.read_sql(query, conn)
EmployeeCount = df['BusinessEntityID'].count()
EmployeeCount

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\3233153763.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

290

In [83]:
#List unique departments
query = "SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]"
df = pd.read_sql(query,conn)
uniquedepts = df['DepartmentID'].unique()
print("Unique Departments: ", sorted(list(uniquedepts)))

Unique Departments:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\716966532.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

In [84]:
#Maximum Pay rate
query = "SELECT * FROM [HumanResources].[EmployeePayHistory]"
df = pd.read_sql(query, conn)
maxrate = df['Rate'].max()
print('Max Rate: ', maxrate)

Max Rate:  125.5

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\1479312354.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [85]:
#Married Employees
query = "SELECT * FROM [HumanResources].[Employee]"
df = pd.read_sql(query,conn)
married = df[df['MaritalStatus'] == 'M']
married.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\4094015756.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationNode,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
2,3,509647174,adventure-works\roberto0,b'Z\xc0',2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
4,5,695256908,adventure-works\gail0,b'Z\xda',3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30
5,6,998320692,adventure-works\jossef0,b'Z\xde',3.0,Design Engineer,1959-03-11,M,M,2008-01-24,True,6,23,True,E39056F1-9CD5-478D-8945-14ACA7FBDCDD,2014-06-30
6,7,134969118,adventure-works\dylan0,b'Z\xe1',3.0,Research and Development Manager,1987-02-24,M,M,2009-02-08,True,61,50,True,4F46DECA-EF01-41FD-9829-0ADAB368E431,2014-06-30
8,9,658797903,adventure-works\gigi0,b'Z\xe1h',4.0,Research and Development Engineer,1979-01-21,M,F,2009-01-16,True,63,51,True,50B6CDC6-7570-47EF-9570-48A64B5F2ECF,2014-06-30

In [86]:
#Average Pay Rate Grouped by frequency
query = "SELECT * FROM [HumanResources].[EmployeePayHistory]"
df = pd.read_sql(query, conn)
grp = df.groupby('PayFrequency')['Rate'].mean()
grp

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\1739118968.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

PayFrequency
1    11.654722
2    25.837736
Name: Rate, dtype: float64

In [87]:
#Top 3 Departments by Count of Employees
query = "SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]"
df = pd.read_sql(query,conn)
ecount_depts = df.groupby('DepartmentID')['BusinessEntityID'].count().reset_index(name='EmployeeCount')
top_depts = ecount_depts.sort_values('EmployeeCount', ascending = False)
top_depts.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\1535627724.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

   DepartmentID  EmployeeCount
6             7            180
2             3             18
4             5             13
9            10             11
3             4             10

In [88]:
#Changes in 1 year
query = "SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]"
df = pd.read_sql(query, conn)

c_yr = pd.Timestamp.now().year
p_yr = c_yr - 1

df_new = df[pd.to_datetime(df['StartDate']).dt.year == p_yr]
count = len(df_new)
df_new.head()
count

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\3774263485.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

0

In [89]:
#List all employees who have been in the HumanResources department for more than 2 years.

query1 = "SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]"
query2 = "SELECT * FROM [HumanResources].[Department]"

dept_history = pd.read_sql(query1,conn)
dept = pd.read_sql(query2, conn)


dept_hr_id = dept[dept['Name'] == 'Human Resources']['DepartmentID'].values[0]
dept_history['StartDate'] = pd.to_datetime(dept_history['StartDate'])
dept_history['EndDate'] = pd.to_datetime(dept_history['EndDate'])
mt_emps = dept_history[(dept_history['DepartmentID'] == dept_hr_id) & (dept_history['EndDate'] - dept_history['StartDate']).dt.days > 730]
print(mt_emps)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\1215176980.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dept_history = pd.read_sql(query1,conn)
C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\1215176980.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dept = pd.read_sql(query2, conn)

Empty DataFrame
Columns: [BusinessEntityID, DepartmentID, ShiftID, StartDate, EndDate, ModifiedDate]
Index: []

In [90]:

department = pd.read_sql("SELECT * FROM [HumanResources].[Department]", conn)
employee = pd.read_sql("SELECT * FROM [HumanResources].[Employee]", conn)
dept_history = pd.read_sql("SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]", conn)
pay_history = pd.read_sql("SELECT * FROM [HumanResources].[EmployeePayHistory]", conn)
dept_history['StartDate'] = pd.to_datetime(dept_history['StartDate'])
dept_history['EndDate'] = pd.to_datetime(dept_history['EndDate'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\4051670539.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  department = pd.read_sql("SELECT * FROM [HumanResources].[Department]", conn)
C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\4051670539.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employee = pd.read_sql("SELECT * FROM [HumanResources].[Employee]", conn)
C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\4051670539.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dept_history = pd.read_sql("SELECT * FROM [HumanResources].[EmployeeDepartmentHistory]", conn)
C:\Users\Admin\AppData\Local\Temp\ipykernel_9608\4051670539.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pay_history = pd.read_sql("SELECT * FROM [HumanResources].[EmployeePayHistory]", conn)

In [91]:
#Number of employees hired in eahc department during the last year
h_lastyr = (dept_history[dept_history['StartDate'].dt.year == p_yr].groupby('DepartmentID')['BusinessEntityID'].count().reset_index(name = 'HiredLY'))
print(h_lastyr)

Empty DataFrame
Columns: [DepartmentID, HiredLY]
Index: []

**Hard Level**

In [93]:
#Total Pay for each employee over past 3 years
three_yrs_ago = pd.Timestamp.now() - pd.DateOffset(years = 3)
recent_pay = pay_history[pay_history['RateChangeDate'] >= three_yrs_ago]
total_pay = recent_pay.groupby('BusinessEntityID')['Rate'].sum().reset_index(name = 'TotalPay')
print(total_pay)

Empty DataFrame
Columns: [BusinessEntityID, TotalPay]
Index: []

In [94]:
#List the top 5 employees with the highest pay rates who work in the Sales department.
sales_department_id = department[department['Name'] == 'Sales']['DepartmentID'].values[0]
sales_emps = dept_history[dept_history['DepartmentID'] == sales_department_id]
top_sales_employees = (pay_history[pay_history['BusinessEntityID'].isin(sales_emps['BusinessEntityID'])]
                      .sort_values('Rate', ascending=False).head(5))
print(top_sales_employees)

     BusinessEntityID RateChangeDate     Rate  PayFrequency ModifiedDate
298               273     2011-02-15  72.1154             2   2014-06-30
299               274     2011-01-04  48.1010             2   2014-06-30
312               287     2012-04-16  48.1010             2   2014-06-30
310               285     2013-03-14  48.1010             2   2014-06-30
314               289     2012-05-30  23.0769             2   2014-06-30

In [95]:
#Find the average tenure of employees in each department, ordered by the department with the longest average tenure.

dept_history['Tenure'] = (dept_history['EndDate'] - dept_history['StartDate']).dt.days
avg_tenure_by_department = (dept_history.groupby('DepartmentID')['Tenure']
                            .mean().reset_index().sort_values('Tenure', ascending=False))
print(avg_tenure_by_department)

    DepartmentID  Tenure
9             10  1747.0
6              7   966.0
0              1   907.0
4              5   572.0
12            13   349.0
3              4   155.0
1              2     NaN
2              3     NaN
5              6     NaN
7              8     NaN
8              9     NaN
10            11     NaN
11            12     NaN
13            14     NaN
14            15     NaN
15            16     NaN

In [96]:
#Get the count of employees grouped by gender and department, including those with no department assigned.

dept_history = dept_history.merge(employee[['BusinessEntityID', 'Gender']], on='BusinessEntityID', how='left')
employee_count_by_gender_and_dept = (dept_history.groupby(['Gender', 'DepartmentID']).size().reset_index(name='EmployeeCount'))
print(employee_count_by_gender_and_dept)

   Gender  DepartmentID  EmployeeCount
0       F             1              3
1       F             2              1
2       F             3              7
3       F             4              5
4       F             5              4
5       F             6              2
6       F             7             46
7       F             9              2
8       F            10              6
9       F            11              4
10      F            12              1
11      F            13              1
12      F            14              2
13      F            15              2
14      F            16              1
15      M             1              4
16      M             2              3
17      M             3             11
18      M             4              5
19      M             5              9
20      M             6              2
21      M             7            134
22      M             8              6
23      M             9              4
24      M            10              5
25      M            11              6
26      M            12              4
27      M            13              6
28      M            14              5
29      M            15              4
30      M            16              1

In [97]:
#Find the top 3 departments where employees have the highest average pay over the past 5 years.
five_years_ago = pd.Timestamp.now() - pd.DateOffset(years=5)
recent_pay_history = pay_history[pay_history['RateChangeDate'] >= five_years_ago]
avg_pay_by_department = (recent_pay_history.merge(dept_history, on='BusinessEntityID')
                         .groupby('DepartmentID')['Rate'].mean()
                         .reset_index().sort_values('Rate', ascending=False).head(3))
print(avg_pay_by_department)

Empty DataFrame
Columns: [DepartmentID, Rate]
Index: []

**Advanced**

In [118]:
#Calculate the cumulative pay increase for each employee over time in the EmployeePayHistory table.

pay_history = pay_history.sort_values(['BusinessEntityID', 'RateChangeDate'])
pay_history['RateDifference'] = pay_history.groupby('BusinessEntityID')['Rate'].diff().fillna(0)
cumulative_increase = pay_history.groupby('BusinessEntityID')['RateDifference'].sum().reset_index(name='CumulativeIncrease')
print(cumulative_increase)

     BusinessEntityID  CumulativeIncrease
0                   1              0.0000
1                   2              0.0000
2                   3              0.0000
3                   4             21.2262
4                   5              0.0000
..                ...                 ...
285               286              0.0000
286               287              0.0000
287               288              0.0000
288               289              0.0000
289               290              0.0000

[290 rows x 2 columns]

In [128]:
#Retrieve employees who have worked in more than one department.
employee_department_count = dept_history.groupby('BusinessEntityID')['DepartmentID'].nunique()
multi_dept_employees = employee_department_count[employee_department_count > 1].reset_index()
print(multi_dept_employees)

   BusinessEntityID  DepartmentID
0                 4             2
1                16             2
2               224             2
3               234             2
4               250             3

In [130]:
#Find the total pay spent per department over the last 2 years.
two_years_ago = pd.Timestamp.now() - pd.DateOffset(years=2)
recent_pay_history = pay_history[pay_history['RateChangeDate'] >= two_years_ago]
total_pay_by_department = (recent_pay_history.merge(dept_history, on='BusinessEntityID')
                          .groupby('DepartmentID')['Rate'].sum().reset_index(name='TotalPay'))
print(total_pay_by_department)

Empty DataFrame
Columns: [DepartmentID, TotalPay]
Index: []

In [134]:
#List the employees who have had the most pay rate changes in the last 5 years.

rate_changes_last_5_years = (pay_history[pay_history['RateChangeDate'] >= five_years_ago]
                            .groupby('BusinessEntityID')['Rate'].count().reset_index(name='PayChanges')
                            .sort_values('PayChanges', ascending=False).head(5))
print(rate_changes_last_5_years)

Empty DataFrame
Columns: [BusinessEntityID, PayChanges]
Index: []

In [136]:
#Rank employees by their cumulative pay over their entire employment period in the company.


cumulative_pay = pay_history.groupby('BusinessEntityID')['Rate'].sum().reset_index(name='TotalPay')
cumulative_pay['Rank'] = cumulative_pay['TotalPay'].rank(ascending=False)
print(cumulative_pay)

     BusinessEntityID  TotalPay  Rank
0                   1  125.5000   2.0
1                   2   63.4615   6.0
2                   3   43.2692  14.5
3                   4   62.1862   8.0
4                   5   32.6923  26.0
..                ...       ...   ...
285               286   23.0769  78.5
286               287   48.1010  12.0
287               288   23.0769  78.5
288               289   23.0769  78.5
289               290   23.0769  78.5

[290 rows x 3 columns]